<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, exercitationem blanditiis eius eaque dignissimos amet iure porro dolores, nemo sed repellendus ex saepe, minus iusto ipsa minima expedita. Provident, exercitationem!</p>

   {{> footer}}
</body>
</html>