<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maintenence</title>
</head>
<body>
    <h2>The site is updating, coming back soon</h2>
    <p>Please check it out later</p>
</body>
</html>

