<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News add</title>
</head>
<body>
     {{> header}}
    <h3>The news are shown here</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat maiores cupiditate quo aliquid commodi quod, aut consequatur exercitationem iusto, a eligendi iste eaque blanditiis! Temporibus officiis praesentium illum eveniet odio?</p>
     {{> footer}}
</body>
</html>